// main layer
#ifndef RESET_BEHAVIOR
#define RESET_BEHAVIOR &sys_reset
#endif

#define TL_MAIN       &kp Q             &kp W              &kp F              &kp P              &kp B
#define ML_MAIN       &hml LGUI A       &hml LALT R        &hml LCTRL S       &hml LSHFT T       &kp G
#define BL_MAIN       &kp SQT           &kp X              &kp C              &lt NUM_L D        &kp V
#define TR_MAIN       &kp Z             &kp L              &kp U              &kp Y              &kp RET
#define MR_MAIN       &kp M             &hmr RSHFT N       &hmr RCTRL H       &hmr LALT I        &hmr RGUI O
#define BR_MAIN       &kp FSLH          &kp J              &kp K              &hmr RALT COMMA    &kp DOT

#define THUMBL_MAIN   &kp MEH           &lt NAV_L SPACE
#define THUMBR_MAIN   &lt SYM_L E       &fun_repeat FUN_L 0

// game layer (QWERTY)
#define TL_GAME       &kp T             &kp Q              &kp W              &kp E              &kp R
#define ML_GAME       &kp LSHFT         &kp A              &kp S              &kp D              &kp F
#define BL_GAME       &kp LCTRL         &kp Z              &kp X              &kp C              &kp V
#define TR_GAME       &kp Y             &kp U              &kp I              &kp O              &kp P
#define MR_GAME       &kp H             &kp J              &kp K              &kp L              &kp FSLH
#define BR_GAME       &kp B             &kp N              &kp M              &kp COMMA          &kp DOT
#define THUMBL_GAME   &lt NUM_L ESC     &kp SPACE
#define THUMBR_GAME   &lt FUN_L G             &to BASE_L

// nav layer
#define TL_NAV        &gui_tab          &alt_tab           &kp LS(LC(TAB))    &kp LC(TAB)        &kp LS(LC(LA(P)))
#define ML_NAV        &kp LGUI          &kp LALT           &kp LCTRL          &kp LSHFT          &kp LS(LC(LA(X)))
#define BL_NAV        &kp LG(SPACE)     &kp LA(SPACE)      &kp LC(SPACE)      &lm NUM_L LSHFT    &kp LS(LC(LA(SPACE)))
#define TR_NAV        &kp CAPS          &kp HOME           &kp UARW           &kp END            &kp RET
#define MR_NAV        &kp TAB           &kp LARW           &kp DARW           &kp RARW           &caps_word
#define BR_NAV        &kp LA(BSPC)       &kp PG_DN          &kp PG_UP          &kp DEL            &kp ESC

#define THUMBL_NAV    &kp LS(LC(LA(SPACE)))            &trans
#define THUMBR_NAV    &kp BSPC            &to GAME_L

// sym layer
#define TL_SYM        &kp EXCL          &kp AT             &kp LBRC           &kp RBRC           &kp PRCNT
#define ML_SYM        &hml LGUI SEMI    &hml LALT COLON    &hml LCTRL LPAR    &hml LSHFT RPAR    &kp EQUAL
#define BL_SYM        &kp DQT           &kp PIPE           &kp LBKT           &kp RBKT           &kp BSLH
#define TR_SYM        &kp SQT           &kp CARET          &kp AMPS           &kp DLLR           &kp RET
#define MR_SYM        &kp PLUS          &hmr RSHFT LT      &hmr RCTRL GT      &hmr LALT MINUS    &hmr RGUI UNDER
#define BR_SYM        &kp QMARK         &kp HASH           &kp STAR           &kp GRAVE          &kp TILDE

#define THUMBL_SYM    &trans            &kp SPACE
#define THUMBR_SYM    &trans            &trans

// num layer
#define TL_NUM        &none             &none       &none      &none       &none
#define ML_NUM        &kp LGUI          &kp LALT    &kp LCTRL  &kp LSHFT   &none
#define BL_NUM        &none             &none       &none      &trans      &none
#define TR_NUM        &kp SLASH         &kp N7      &kp N8     &kp N9      &kp RET
#define MR_NUM        &kp STAR          &kp N4      &kp N5     &kp N6      &kp PLUS
#define BR_NUM        &kp MINUS         &kp N1      &kp N2     &kp N3      &kp DOT

#define THUMBL_NUM    &kp MEH           &mt LSHFT SPACE
#define THUMBR_NUM    &kp N0            &kp EQUAL

// fun layer
#define TL_FUN        &kp F10     &kp F7      &kp F8       &kp F9          &out OUT_TOG
#define ML_FUN        &kp F11     &kp F4      &kp F5       &kp F6          &kp C_BRI_UP
#define BL_FUN        &kp F12     &kp F1      &kp F2       &kp F3          &kp C_BRI_DN
#define TR_FUN        &bt BT_CLR      &bt BT_SEL 0    &bt BT_SEL 1   &bt BT_SEL 2    &out OUT_BLE
#define MR_FUN        &bootloader     &kp RSHFT       &kp RCTRL      &kp LALT        &kp RGUI
#define BR_FUN        RESET_BEHAVIOR  &kp C_MUTE      &kp C_VOL_DN   &kp C_VOL_UP    &out OUT_USB

#define THUMBL_FUN    &kp HYPR    &kp SPACE
#define THUMBR_FUN    &trans      &trans
